<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CyTin | Softwares | News | Techblogs | ChandyShot</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    {% load static %}
    <link href="{% static 'CyTin_View/css/style.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'CyTin_View/images/icon.ico' %}" />
    <style type="text/css">
/*        body{
            width: 95%;
            min-width: 320px;
            margin: 0 auto;
            background: url("../images/background.jpg") no-repeat center fixed;
            background-size: cover;
            background: linear-gradient(to bottom right, rgba(127, 121, 216, 0.233), rgba(165, 184, 185, 0.829));
        }*/
    </style>
</head>
<body>