<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CyTin_View/css/style.css' %}">
</head>
<body>

<div class="page-header heading">
    <span id="title"><span class="logo">
    <a title="CyTin|Softwares|News|Techblogs|ChandyShot" href="#">CyTin</a>
    </span> Software Solution</span>
</div>

<div class="sidebar">
    <div><a class="nav-item active" href="#">Home</a></div>
    <div><a class="nav-item " href="#">All Categories</a></div>
    <div><a class="nav-item " href="#">Newly Added</a></div>
    <div><a class="nav-item " href="#">Major OS</a></div>
    <div><a class="nav-item " href="#">News</a></div>
    <div><a class="nav-item " href="#">Requested Softwares</a></div>
    <div><a class="nav-item " href="#">Request A Softwares</a></div>
</div>