{% include "header.html" %}

<div class="main-area">
      {% for item in item_list %}
        <div class="item">
          <div class="item-title">
            <a href="/software/{{ item.pk }}">{{ item.title }}</a>
          </div>
          <div class="item-description"> {{item.short_descr}} <a href="/software/{{ item.pk }}"> more...</a>
          </div>
          <div class="item-category">

          Category : 
          {% for category in item.category %}
            <a href="/categories/{{category}}">{{category}} </a>&nbsp;
          {% endfor %}
          </div>
        </div>
    {% endfor %}
</div>
{% load static %}
<script type="text/javascript" src="{% static 'CyTin_View/script/script.js' %}"></script>
<div ></div>
{% include "footer.html" %}
