{% include "header.html" %}

    <div class="page-header heading">
        <span id="title"><span class="logo"><a title="CyTin|Softwares|News|Techblogs|ChandyShot" href="#">CyTin</a></span> Software Solution</span>
    </div>

    <div class="sidebar-left">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Softwares</a></li>
            <li role="presentation"><a href="#">All Categories</a></li>
            <li role="presentation"><a href="#">Newly Added</a></li>
            <li role="presentation"><a href="#">Major OS</a></li>
            <li role="presentation"><a href="#">News</a></li>
            <li role="presentation"><a href="#">Requested Softwares</a></li>
            <li role="presentation"><a href="#">Request A Softwares</a></li>
            <li role="presentation"><a href="#">Browse Community</a></li>
        </ul>
    </div>

    <div class="main-area">
        <div class="software-item">
            <div class="item-image">

            </div>
            <div class="item">
                <div class="item-heading">

                </div>
                <div class="item-time">
                    
                </div>
                <div class="item-description">

                </div>
            </div>
        </div>
    </div>

{% include "footer.html" %}