{% include "header.html" %}

<div class="main-area">
      {% for news in news_list %}
        <div class="item">
          <div class="item-title">
            <a href="/news/{{ news.pk }}">{{ news.title }}</a>
          </div>
          <div class="item-description"> {{news.short_descr}} <a href="/news/{{ news.pk }}"> more...</a>
          </div>
          <div class="item-category">
          </div>
        </div>
    {% endfor %}
</div>
{% load static %}
<script type="text/javascript" src="{% static 'CyTin_View/script/script.js' %}"></script>
<div ></div>
{% include "footer.html" %}
