html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styling Starts */

body{
    width: 95%;
    min-width: 320px;
    margin: 0 auto;
    background: url("images/background.jpg") no-repeat center fixed;
    background-size: cover;
    background: linear-gradient(to bottom right, rgba(127, 121, 216, 0.233), rgba(165, 184, 185, 0.829));
}

#title{
    font-family: 'Pacifico', cursive;
}

.heading{
    position: sticky;
    margin: 1.2em 1.2em 1.2em 0;
    padding: 1.2em 1.2em 1.2em 0;
    /* min-width: 500px; */
    border: none;
}

.heading:hover{
    color: rgb(63, 57, 57);
    border-radius: 7px;
    background: rgba(171, 170, 187, 0.233);
    transition: background-color 200ms linear;
}

.logo a{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 2em;
}

.logo:hover a{
    color: rgb(117, 112, 131);
    transition: color 200ms linear;
    
}

/* Head Section Ends */

/* Left Sidebar Starts */
.sidebar-left{
    display: inline-block;
    position: sticky;
    width: 20%;
    min-width: 200px;
}
/* Left Sidebar ends */

/* Main Area starts */
.main-area{
    width: 60%;
}