body {
    margin: 0;
    padding: 0;
}

#title{
    font-family: 'Pacifico', cursive;
}

.heading{
    top: 0;
    left: 0;
    padding: 0 0 1em 2em;
    position: sticky;
    background-color: #f1f1f1;
    border: none;
}

.heading:hover{
    color: rgb(63, 57, 57);
    background: rgba(171, 170, 187, 0.233);
    transition: background-color 200ms linear;
}

.logo a{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 2em;
}

.logo:hover a{
    color: rgb(117, 112, 131);
    transition: color 200ms linear;
    
}


.sidebar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}


.nav-item{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav-item.active{
    background-color: #4CAF50;
    color: white;
}

.nav-item:hover:not(.active){
    background-color: #555;
    color: white;
}

.main-area{
    margin-left:20%;
    padding:1px 16px;
    height:1000px;
    margin-top: 0.5em;
}

.item{
    margin: 8px;
    padding: 4px;
    border: 2px solid gray;
}

.item-title{
    font-size: 1.5em;
    text-decoration: none;
    text-decoration: underline;
    padding: 4px 0;
}

.item-description{
    font-size: 1.0em;
    margin: 4px 0;
}

.item-category{
    padding: 8px 0;
}

.page-nav{
    padding: 20px;
    border: 1px solid red;
    margin-left: 20%;
    padding: 12px 16px;
    margin-bottom: 4px;
}

.page-nav a{
    text-decoration: none;
    color: red;
    padding: 2px 12px;
    margin: 0 auto;
}

.page-nav a:hover{
    color: yellow;
}

.current-page{
    color: green;
}